{{>header}}
Rape: {{get-rape}}
	<h3>Ball id #{{id}} @ {{timestamp}} - {{title}}</h3>
	<ul>
		<a href=/view/image/{{image-id}} target=_new><img src=/view/thumb/{{image-id}} border=0></a>
	</ul>
{{>footer}}
